@import './var.less';
.van-nav-bar__title{
	font-size: @font36;
	font-weight: 800;
}
.van-dialog{
	border-radius: 16px;
	line-height: 42px;
	color:@gray333;
}
.van-dialog__confirm,
.van-dialog__confirm:active{
	color:@red;
}
.van-nav-bar__left{
	.van-icon-arrow-left{
		margin-left: -11px;
		color:@gray333;
	}
}
/*vant-popup取消和确定文字的颜色和大小*/
.van-picker-column__item--selected{
	font-size: 1.2rem;
    border-bottom: 1px solid rgba(215, 215, 215, 1);
    border-top: 1px solid rgba(215, 215, 215, 1);
	.van-ellipsis{
		font-size: 1.2rem !important;
	}
}
.van-picker__confirm{
	color:#33cc33;
	font-size: @font30;
}
.van-picker__cancel{
	font-size: @font30;
	color:@gray;
}
.van-picker__title{
	font-size: @font36;
}
.van-popup--bottom.van-popup--round{
	border-radius: 16px 16px 0 0;
}
.van-picker-column{
	font-size:.8rem;
}
.van-picker-column__item{
	color: @gray333;
}
.van-picker__columns{
	.van-hairline--top-bottom::after,
	.van-hairline-unset--top-bottom::after{
		border-width:0;
	}
}