@import '../var.less';
.daily_end{
    margin-top: 4rem;
    font-size: .8rem;
    text-align: center;
   .daily_end_page{
   }
   .state{
     .endtext{
       font-weight: 400;
       margin-top: .5rem;
       font-size: 1.2rem;
     }
   }
   .goback{
     height:2.2rem;
     color:#ffffff;
     line-height: 2.2rem;
     margin-top:2.5rem;
     .applyBtn{
       width: 35%;
       margin: auto;
       text-align: center;
       border-radius: .3rem;
       background: #169bd5;
     }
   }
   .remain{
     color: @fontColor;
     width: 50%;
     margin: 1rem auto 0 auto;
     height: 2rem;
     line-height: 2rem;
     .line{
         font-size: 1.3rem;
     }

   }
 }