.framebox{
    text-align: center;
    font-size: .8rem;
    border-radius: .3rem;
    background: #ffffff;
}
.home_padd{
    margin: auto;
  .home_topselect{
    position: relative;
    z-index: 1;
    margin-top: -25%;
    padding: 1.8rem 1rem 1.8rem 1rem;
    .home_icon{
      background: #69fee0;
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      line-height: 2.4rem;
    }
    .home_user{
      margin-left: 5%;
      .myinfo_user_name{
        font-size: 1rem;
        font-weight: bold;
      }
      .myinfo_user_edit{
        border: .5px solid black;
        border-radius: .3rem;
        height: 1.4rem;
        line-height: 1.4rem;
        margin-top: .8rem;
      }
    }
    p{
      margin: .5rem 0;
      font-size: .8rem;
    }
  }
  .home_route{
    padding: 0 .5rem;
    margin-top: 1rem;
    .box_frame-row{
      font-size: .875rem;
      border-bottom: 1px solid #d3d3d3;
      align-items: center;
      height: 2.5rem;
      .flex-row{
          width: 50%;
          .svg-icon{
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 5%;
          }
          div{
              margin-left: 2%;
          }
      }
    }
  }
}